<div class="row">
  <div class="col-md-1">
    <a href="#" class="editbtn"><img src="../assets/img/editar.png" width="15px" id="editban"></a>
  </div>
  <div class="col-md-10">
    <div id="banner">
      <div class="card mb-3" style="width: 540px;" id="info">
        <div class="row">
          <div class="col-md-4">
            <img src="../assets/img/AAYQAQSOAAgAAQAAAAAAAB-zrMZEDXI2T62PSuT6kpB6qg.png" class="img-fluid" alt="Foto de perfil" id="fotoperfil">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <input type="text" class="inpnombre"><a class="tilde" id="tilnombre"><img src="../../../assets/img/tilde.png" width="15px"></a>
              <h5 class="card-title" id="nombre">Leonel Martinez</h5><a class="editbtn" (click)="editarNombre()"><img src="../assets/img/editar.png" width="15px"></a>
              <p class="card-text">Desarrollador Web Full Stack Junior <a href="#" class="editbtn"><img src="../assets/img/editar.png" width="15px"></a></p>
              <p class="card-text"><small class="text-muted">Córdoba (Argentina) <a href="#" class="editbtn"><img src="../assets/img/editar.png" width="15px"></a></small></p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
